@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jersey+25&family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-muted: #414141;
  --color-secondary-background: #1E1E1E;
  --color-golden: #CBA135;


  --font-jersey: "Jersey 25", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}


body {
  @apply font-figtree selection:bg-golden selection:text-black
}

@utility social-button {
    @apply text-muted hover:text-white transition-all text-3xl cursor-pointer
}


.glow-border {
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% { box-shadow: 0 0 10px rgba(255,255,255,0.3); }
  100% { box-shadow: 0 0 20px rgba(255,255,255,0.7); }
}