@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jersey+25&family=Noto+Kufi+Arabic:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-text: #d1d1d1;
  --color-muted: #414141;
  --color-secondary-background: #1E1E1E;
  --color-golden: #CBA135;

  --font-jersey: "Jersey 25", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}

body {
  @apply font-figtree selection:bg-golden selection:text-black overflow-x-hidden
}

@utility social-button {
    @apply text-muted hover:text-white transition-all text-4xl cursor-pointer
}

@utility grid-shadow {
  box-shadow:
    inset 0 2px 4px #2E2E2E,
    0 4px 6px #171717,
    0 6px 10px #0A0A0A;
}

@utility grid-inner-block {
  @apply w-full h-full bg-secondary-background rounded-2xl flex items-center p-3 grid-shadow
}

@utility responsive-container {
  @apply w-[90vw] lg:w-[80vw] xl:w-[70vw] 2xl:w-[60vw] mx-auto;
}
@layer base {
  /* Works on Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 6px; /* decrease this number to make it thinner */
    height: 6px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* or any subtle background */
  }

  ::-webkit-scrollbar-thumb {
    background: #555; /* color of the scrollbar handle */
    border-radius: 9999px; /* makes it rounded */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* slightly lighter on hover */
  }
}